@layout('layouts/main')

@set('title', 'Bienvenida')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        Bienvenido
      </p>
      <p class="subtitle">
         Inicio
      </p>
    </div>
  </section>
@end
